################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Warehouse/FileContentIndex/4f2722f0-bfc2-42ab-9076-3e4d422ca8e1.vsidx
